<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>DOTDOT uses the camera so you can take a photo to send to a friend's widget.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BagelFatOne-Regular.ttf</string>
		<string>ArchivoBlack-Regular.ttf</string>
		<string>HankenGrotesk-VariableFont_wght.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>SpaceMono-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.kolteaditya.dotgrid.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dotdot</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
