<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.kolteaditya.dotgrid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dotdot</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>DOTDOT uses the camera so you can take a photo to send to a friend's widget.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>DOTDOT saves dotdots you choose to your photo library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>DOTDOT uses your location only to add a place sticker to a photo you choose to send. It is never stored or shared.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ArchivoBlack-Regular.ttf</string>
		<string>HankenGrotesk-VariableFont_wght.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>SpaceMono-Bold.ttf</string>
		<string>HankenGrotesk-MediumItalic.ttf</string>
		<string>HankenGrotesk-ExtraLightItalic.ttf</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.kolteaditya.dotgrid.flush</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
